/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  scroll-behavior: smooth;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: $bodyText;
}

h1,
h2 {
  margin: 0;
  padding-left: $gutter;
}

h3 {
  padding: 0 $gutter;
  margin-bottom: 0;
}

p {
  padding: 0 $gutter;
  font-size: 14px;
}

#headerWrapper {
  display: none;
}

#navWrapper {
  background-color: darken($colorOne, 10%);
  position: sticky;
  top: 0;
}

nav {
  padding: 1rem $gutter;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    li {
      border-radius: 5px;
      a {
        display: block;
        padding: 0;
        text-decoration: none;
        transition-duration: 0.3s;
        text-align: center;
        padding: 0.64rem;
        border-radius: 5px;
        &:hover {
          background-color: darken($colorOne, 20%);
        }
        img {
          width: 24px;
          height: 24px;
        }
        span {
          display: none;
        }
      }
    }
    li.active {
      border: 1px solid #fff;
    }
  }
}

main {
  section {
    padding: 100px 14px;
  }
  #one {
    min-height: 100vh;
    background-color: $colorOne;
    color: $surface;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,
    p {
      padding-left: 0;
      padding-right: 0;
    }
  }
  #two {
    min-height: 100vh;
    background-color: $colorTwo;
    color: $onSecondary;
    img {
      width: 90%;
      height: auto;
      border-radius: 10px;
      margin-left: 15px;
      margin-top: 10px;
    }
  }
  #three {
    min-height: 100vh;
    background-color: $colorThree;
    color: $surface;
    a {
      background-color: aquamarine;
      color: #020b09;
    }
    p,
    h2 {
      padding-left: 0;
    }
  }
  #four {
    min-height: 100vh;
    background-color: $colorFour;
    color: $onSecondary;
    h2 {
      padding-bottom: 20px;
    }
    .singleCard > h2 {
      background-color: #072ac8;
      color: $surface;
    }
  }
  #five {
    min-height: 100vh;
    background-color: $colorFive;
    color: $surface;
    h2 {
      padding-bottom: 20px;
    }
    .allCards {
      .singleCard {
        h3 {
          background-color: #86c5ef;
          color: #44516e;
          font-size: 1.2rem;
          text-align: center;
          padding: 20px 0;
          margin: 0 auto;
        }
        a {
          background-color: rgb(203, 60, 8);
          margin-top: 10px;
        }
      }
    }
  }
  #six {
    min-height: 100vh;
    background-color: $colorSix;
    color: black;

    .social-box {
      padding: 0 $gutter;
      margin-top: 15px;
      display: flex;

      img {
        width: 40px;
        border-radius: 10px;
        margin-right: 3px;
      }
    }
  }
}

// CARDS SECTION * * *

.allCards {
  .singleCard {
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 1rem;

    p {
      margin: 0 auto;
      padding: 20px 10px;
    }

    h2 {
      background-color: #aac6d9;
      color: #44516e;
      font-size: 1.2rem;
      text-align: center;
      padding: 20px 0;
      margin: 0 auto;
    }

    img {
      width: 100%;
      height: auto;

      display: block;
      margin: 0 auto;
    }

    img.bdr {
      border-radius: 30px;
    }

    p {
      text-align: center;
    }
    a {
      display: block;

      padding: 0.75rem;
      text-align: center;
      margin: 0 3rem 1rem;
      border-radius: 10px;
      color: white;
      text-decoration: none;
    }
  }
} // end allCards

#footerWrapper {
  height: fit-content;
  background-color: $colorOne;
}

footer {
  padding: 0.7rem $gutter;
  color: white;
  text-align: center;
  p {
    margin: 0;
    font-weight: 200;
  }
}
