$bodyText: "Poppins", sans-serif;

$primary: #0f6682;
$onPrimary: #ffffff;
$primaryContainer: #bde9ff;
$OnPrimaryContainer: #00202a;

$secondary: #4d616b;
$onSecondary: #ffffff;

$surface: #f6fafd;
$onSurface: #181c20;

$colorOne: #a90808;
$colorTwo: #3b566c;
$colorThree: #125e48;
$colorFour: #097676;
$colorFive: #0d8168;
$colorSix: rgb(255, 166, 1);

$gutter: 16px;
