$bodyText: "Poppins", sans-serif;

$primary: #0f6682;
$onPrimary: #ffffff;
$primaryContainer: #bde9ff;
$OnPrimaryContainer: #00202a;

$secondary: #4d616b;
$onSecondary: #ffffff;

$surface: #f6fafd;
$onSurface: #181c20;

$colorOne: #a90808;
$colorTwo: #648fb3;
$colorThree: #1c9774;
$colorFour: #08a8a8;
$colorFive: #0da181;
$colorSix: rgb(255, 166, 1);

$gutter: 16px;
